.product h6 {
    font-size: small;
    font-weight: 300;
}

.product h2 {
    font-size: large;
    font-weight: 500;
}

.head-line {
    font-weight: 900;
    font-size: 3rem;
}

.product a {
    text-decoration: none;
}

.product {
    cursor: pointer;
    transition: all 1s;
    border: 1px solid var(--main-color);
    border-radius: 8px;
}

.product:hover {
    box-shadow: 10px 10px 5px 0px rgba(132, 143, 186, 1);
    border: none;
}

.product button {
    opacity: 0;
    transition: all 1s;
    border-color: var(--main-color);
    color: darkgreen;
}

.product:hover button {
    opacity: 1;
    color: white;
    background-color: var(--main-color);
}

.categ img {
    height: 200px;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}