<div>

    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide><img class="w-100" src="../../../assets/2-Slider-Eng.jpg"></ng-template>
        <ng-template carouselSlide><img class="w-100" src="../../../assets/4-Slider-Eng (1).jpg"></ng-template>
        <ng-template carouselSlide><img class="w-100" src="../../../assets/7-Slider-Eng.jpg"></ng-template>
        <ng-template carouselSlide><img class="w-100" src="../../../assets/5-Slider-Eng.jpg"></ng-template>
        <ng-template carouselSlide><img class="w-100" src="../../../assets/8-Slider-Eng.jpg"></ng-template>
    </owl-carousel-o>

</div>